/* src/app/[lang]/philosophy/philosophy-content.module.css */

.title {
    margin: 0;
    width: 65%;
    font-size: 22px;
    color: white;
    line-height: 1.2;
}

.lead {
    margin: 0;
    width: 82%;
    font-size: 16px;
    line-height: 1.55;
}

/* Text switching */

.desktopText {
    display: inline;
}

.mobileText {
    display: none;
}

@media (max-width: 800px) {
    .desktopText {
        display: none;
    }

    .mobileText {
        display: inline;
    }
}

@media (max-width: 768px) {
    .title {
        width: 80%;
        font-size: 16px;
    }

    .lead {
        width: 100%;
        font-size: 14px;
        line-height: 1.3;
    }


}