.whiteSection {
    position: relative;
    /* zieht den oberen Teil nach oben in den Hero hinein */
    background: #f3f0eb;
    min-height: 70vh;
    z-index: 2;
}

.footer {
    background: #f3f0eb;
    padding: 40px 20px 20px;
    text-align: center;
}

.imprint {
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 0 12px;
    /* Abstand zur Linie */
    background: #f3f0eb;
    /* überdeckt die Linie sauber */
    z-index: 1;
}

/* Linien */
.imprint::before,
.imprint::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50vw - 80px);
    height: 1px;
    background: rgba(92, 92, 92, 0.4);
    z-index: 0;
}

.imprint::before {
    right: 100%;
    margin-right: 10px;
}

.imprint::after {
    left: 100%;
    margin-left: 10px;
}

.imprint:hover {
    opacity: 0.7;
}