/* src/components/diamond-layout.module.css */

.page {
    --diamond-size: min(50vw, 440px);

    position: relative;
    height: calc(100vh - 195px);
    min-height: 720px;
    background: #f3f0eb;
    overflow: visible;
}

.diamond {
    position: absolute;
    left: 50%;
    top: 100px;

    width: var(--diamond-size);
    aspect-ratio: 1 / 1;
    background: #000;

    transform: translateX(-50%) rotate(45deg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: calc(var(--diamond-size) * 0.82);
    transform: rotate(-45deg);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 14px;
    color: white;
}

/* tablet */

/* @media (max-width: 1200px) {
    .page {
        --diamond-size: min(60vw, 520px);
        min-height: 760px;
    }

    .diamond {
        top: 80px;
    }
} */

/* mobile */

@media (max-width: 768px) {
    .page {
        --diamond-size: min(72vw, 300px);
        min-height: 420px;
    }

    /* .diamond {
        top: 60px;
    } */

    .inner {
        width: min(68%, 180px);
        gap: 10px;
    }
}

@media (max-width: 560px) {
    .page {
        --diamond-size: min(72vw, 250px);
        min-height: 200px;
    }

    /* .diamond {
        top: 60px;
    } */
}